version: '3.9'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: weather_db
      POSTGRES_USER: weather_user
      POSTGRES_PASSWORD: weather_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: weather-server
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/weather_db
      - SPRING_DATASOURCE_USERNAME=weather_user
      - SPRING_DATASOURCE_PASSWORD=weather_pass
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - postgres

  nginx:
    build:
      context: ..
      dockerfile: nginx/Dockerfile
    container_name: nginx-server
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: